<style type="text/css">
    .icon {float: left; height: 50px; margin-right: 10px;}
    .current {float: left; padding-bottom : 7px;padding-top : 5px;}
    .forecast {float: left;text-align: center;}
    p {font-size: 13px; padding: 0; margin: 0;}
</style>
<div class="current dashboard-widget" style="width : 190px;">
    <div class="icon" ><img src="#image#" /></div>

    <p>
        <strong><a href="#eqLink#"> #city# </a></strong>
    </p>
    #condition#<br/>
    Vent : #windspeed# km/h<br/>
    Humidité : #humidity# %<br/>
    Température : #temperature# °C<br/>
    Pression : #pressure# mb<br/>
    Levé du soleil : #sunrise#<br/>
    Couché du soleil : #sunset#<br/>
</div>
