body {
    font-family: sans-serif;
    font-size: large;
    background-color: #000;
    color: #fff;
}

#content {
    margin: 1em auto;
}

.error {
    border: 1px dotted #ff0000;
    color: #ff0000;
    padding: 1em;
}

.widget {
    border: 1px dotted #fff;
    color: #fff;
    padding: 1em;
    margin-bottom: 1em;
}

div.active {
    background-color: #696969;
    border-color: #ff0000;
}

.filterTitle {
    margin-right: 1em;
}

.filterTitle.active {
    font-weight: bold;
    color: #ff0000;
}

.batteryFresh {
    color: #00ff00;
}

.batteryNormal {
    color: #fff;
}

.batteryCritical {
    color: #ff0000;
}

.subwidget {
    display: inline;
    margin: 0 0 0 0.5em;
}

.subwidget.active {
    color: red;
}
